/*************
* fadeInRight *
*************/

.fadeInRight {
	-webkit-transform: translateX(-40rem);
	transform: translateX(-40rem);
}
@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(40rem);
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(40rem);
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/*************
* fadeInLeft *
*************/

.fadeInLeft {
	-webkit-transform: translateX(-40rem);
	transform: translateX(-40rem);
}
@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-40rem);
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-40rem);
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/*************
* FadeInUp *
*************/

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(40rem);
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(40rem);
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.fadeInUp {
	opacity: 0;
	-webkit-transform: translateY(40rem);
	transform: translateY(40rem);
}

/*************
* FadeInDown *
*************/

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-40rem);
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-40rem);
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.fadeInDown {
	opacity: 0;
	-webkit-transform: translateY(-40rem);
	transform: translateY(-40rem);
}

/****************
* bounceInRight *
****************/

@-webkit-keyframes bounceInRight {
	0% {
		opacity: 0;

		-webkit-transform: translateX(40rem);
	}
	60% {
		-webkit-transform: translateX(-3rem);
	}
	80% {
		-webkit-transform: translateX(1rem);
	}
	100% {
		opacity: 1;

		-webkit-transform: translateX(0);
	}
}

@keyframes bounceInRight {
	0% {
		opacity: 0;

		transform: translateX(40rem);
	}
	60% {
		transform: translateX(-3rem);
	}
	80% {
		transform: translateX(1rem);
	}
	100% {
		opacity: 1;

		transform: translateX(0);
	}
}
.bounceInRight {
	-webkit-transform: translateX(40rem);
	transform: translateX(40rem);
}

/******************
* Bounce in left *
*******************/

@-webkit-keyframes bounceInLeft {
	0% {
		opacity: 0;

		-webkit-transform: translateX(-40rem);
	}
	60% {
		-webkit-transform: translateX(3rem);
	}
	80% {
		-webkit-transform: translateX(-1rem);
	}
	100% {
		opacity: 1;

		-webkit-transform: translateX(0);
	}
}

@keyframes bounceInLeft {
	0% {
		opacity: 0;

		transform: translateX(-40rem);
	}
	60% {
		transform: translateX(3rem);
	}
	80% {
		transform: translateX(-1rem);
	}
	100% {
		opacity: 1;

		transform: translateX(0);
	}
}
.bounceInLeft {
	-webkit-transform: translateX(-40rem);
	transform: translateX(-40rem);
}

/******************
* Bounce in up *
*******************/

@-webkit-keyframes bounceInUp {
	0% {
		opacity: 0;

		-webkit-transform: translateY(40rem);
	}
	60% {
		-webkit-transform: translateY(-3rem);
	}
	80% {
		-webkit-transform: translateY(1rem);
	}
	100% {
		opacity: 1;

		-webkit-transform: translateY(0);
	}
}

@keyframes bounceInUp {
	0% {
		opacity: 0;

		transform: translateY(40rem);
	}
	60% {
		transform: translateY(-3rem);
	}
	80% {
		transform: translateY(1rem);
	}
	100% {
		opacity: 1;

		transform: translateY(0);
	}
}
.bounceInUp {
	-webkit-transform: translateY(40rem);
	transform: translateY(40rem);
}

/******************
* Bounce in down *
*******************/

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;

		-webkit-transform: translateY(-40rem);
	}
	60% {
		-webkit-transform: translateY(3rem);
	}
	80% {
		-webkit-transform: translateY(-1rem);
	}
	100% {
		opacity: 1;

		-webkit-transform: translateY(0);
	}
}

@keyframes bounceInDown {
	0% {
		opacity: 0;

		transform: translateY(-40rem);
	}
	60% {
		transform: translateY(3rem);
	}
	80% {
		transform: translateY(-1rem);
	}
	100% {
		opacity: 1;

		transform: translateY(0);
	}
}
.bounceInDown {
	-webkit-transform: translateY(-40rem);
	transform: translateY(-40rem);
}

/********
* Shake *
********/
@-webkit-keyframes shake {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
	0%,
	100% {
		-webkit-transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-1rem);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(1rem);
	}
}
@keyframes shake {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
	0%,
	100% {
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-1rem);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(1rem);
	}
}
.shake {
	opacity: 0;
}
